.underHeaderContainer {
  width: 100vw;
  height: 11vh;
  background-color: rgba(40, 40, 40, 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.checkMark {
  color: white;
  font-size: 3vh;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
