.underHeaderContainer{
  width: 100vw;
  height: 15vh;
  background-color: rgba(40, 40, 40, 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.underHeaderIcon{
  transform: scale(2.5);
  margin-right: 25px;
}

.checkMark{
  color: white;
  font-size: 25px;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}